.swiper-container {
    height: 600px;
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    color: rgb(125, 158, 192);
}

.movie-description {
    background-color: rgb(243, 243, 243);
    bottom: 0;
    padding: 5px 60px;
    position: absolute;
    width: 100%;
}