.swiper-container {
    height: 600px;
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    color: rgb(109, 109, 109);
}

.movie-description {
    background-color: rgb(44, 44, 44, 0.5);
    bottom: 0;
    padding: 5px 60px;
    position: absolute;
    width: 100%;
}